[submodule "EvaEngine/vendor/spdlog"]
	path = EvaEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "EvaEngine/vendor/GLFW"]
	path = EvaEngine/vendor/GLFW
	url = https://github.com/glfw/glfw

[submodule "EvaEngine/vendor/imgui"]
	path = EvaEngine/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "EvaEngine/vendor/glm"]
	path = EvaEngine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "EvaEngine/vendor/yaml-cpp"]
	path = EvaEngine/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "EvaEngine/vendor/ImGuizmo"]
	path = EvaEngine/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "EvaEngine/vendor/Box2D"]
	path = EvaEngine/vendor/Box2D
	url = https://github.com/NikoGardziella/box2d
[submodule "EvaEngine/vendor/enkiTS"]
	path = EvaEngine/vendor/enkiTS
	url = https://github.com/dougbinks/enkiTS.git
